<% statnames = BatStatline.columns.map(&:name).rotate(-2).drop(4) %>
<a href="<%= teams_url %>">Teams Index</a>
<br>
<a href="<%= logs_url %>">Log Index</a>
<h1> <%= @team.name %> </h1>
<h4>updated on <%= @team.bats.first.created_at %> </h4>


<h3> Hitters </h3>
<%= render partial: "partials/stat_table",
           locals:{ statnames: statnames,
                    collection: @team.bats,
                    leader_stat: :name,
                    ender_stat: false }  %>


<% statnames = PitStatline.columns.map(&:name).rotate(-3).drop(5) %>

<% [:current_zips, :current_steamer].each do |projection| %>
  <h3>Pitchers (<%= projection.to_s[8..-1] %>)</h3>

                      <table>
                        <thead>
                          <th>
                            name
                          </th>
                          <% statnames.each do |statname| %>
                            <th>
                              <%= statname %>
                            </th>
                          <% end %>
                        </thead>
                        <% @team.pits.each do |pit| %>
                        <tr>
                          <td>
                            <a href="<%= pit_url(pit) %>"> <%= pit.name  %></a>
                          </td>
                          <% statnames.map(&:to_sym).each do |stat| %>
                            <td>
                              <%= pit.send(projection).send(stat) unless pit.send(projection).nil? %>
                            </td>
                          <% end %>
                        </tr>
                        <% end %>
                      </table>
<% end %>
