<h1>New Game</h1>

<form action="<%= games_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="game[log_id]" value="<%= @log_id %>">

  <label for="game-favorite_id">Favorite
    <select class="" name="favorite_id">
      <option value="">Select</option>
      <% @teams.each do |team| %>
        <option value="<%= team.id %>"
          <%= 'selected' if @game.favorite == team %> >
            <%= team.name %>
          </option>
      <% end %>
    </select>
  </label>

  <label for="home-team">Home Team
    <input type="checkbox" name="game[home_team]" value="favorite">
  </label>

  <label for="f_odds">Favorite Odds
    <input type="text"
           name="game[f_odds]"
           value="<%= @game.f_odds %>">
  </label>

  <label for="game-underdog_id">Underdog
    <select class="" name="underdog_id">
      <option value="">Select</option>
      <% @teams.each do |team| %>
        <option value="<%= team.id %>"
          <%= 'selected' if @game.underdog == team %> >
            <%= team.name %>
          </option>
      <% end %>
    </select>
  </label>

  <label for="home-team">Home Team
    <input type="checkbox" name="game[home_team]" value="underdog">
  </label>

  <label for="d_odds">Underdog Odds
    <input type="text"
           name="game[d_odds]"
           value="<%= @game.d_odds %>">
  </label>



  <input type="submit" name="name" value="Submit">
</form>
