<% statnames = Competitor.columns.map(&:name).drop(2).take(3) %>
<h1> Game on <%= @game.date %></h1>
<h3>Sportsbook Odds: <%= @game.sportsbook_odds %></h3>


<% [:favorite, :underdog].each do |competitor| %>
<h3> <%= competitor.to_s %> <a href=" <%=  edit_competitor_url(@game.send(competitor)) %>">Edit</a></h3>
  <% team = @game.send(competitor) %>
    <table>
        <th>
          Team Name
        </th>
        <% statnames.each do |statname| %>
          <th>
              <%= statname %>
          </th>
        <% end %>
        <th>
            team expected win %
        </th>
      <tr>
        <td>
          <%= team.team.name %>
        </td>
        <% statnames.map(&:to_sym).each do |statname| %>
          <td>
              <%= team.send(statname) %>
          </td>
        <% end %>
        <td>
          <%= team.team_expected_win_percentage %>
        </td>
      </tr>
    </table>

    <h4>
      Starter
    </h4>
      <a href="#"> <%= team.starter.name unless team.starter.nil? %></a>

    <h4>Relievers</h4>
    <ul>
      <% unless team.rps.nil? %>
      <% team.rps.each do |rp| %>
        <li> <a href="#"> <%= Pit.find(rp).name %></a></li>
      <% end %>
      <% end %>
    </ul>

    <h4>Batting Order</h4>
    <ul>
      <% unless team.lineup.nil? %>
        <% team.lineup.each do |bat| %>
          <% if bat != 0 %>
            <li> <a href="<%= bat_url(bat) %>">
              <%= Bat.find(bat).name %>
            </a> </li>
          <% else %>
            <li>Pitcher</li>
          <% end %>
        <% end %>

      <% end %>
    </ul>

<% end %>
