<% statnames = Competitor.columns.map(&:name).drop(2).take(3) %>
<h1> Game on
  <a href="<%= log_url(@game.log) %> "> <%= @game.log.date unless @game.log.nil? %> </a></h1>


<% [:favorite, :underdog].each do |competitor| %>
<h3> <%= competitor.to_s.upcase %> <a href=" <%=  edit_competitor_url(@game.send(competitor)) %>">Edit</a></h3>
  <h4> Sportsbook odds: <%= competitor == :favorite ? @game.f_odds : @game.d_odds%> </h4>
  <% team = @game.send(competitor) %>

  <%= render partial: "partials/stat_table",
             locals:{ statnames: statnames,
                      collection: team,
                      leader_stat: :team_name,
                      ender_stat: :team_expected_win_percentage }  %>



    <h4>
      Starter
    </h4>
      <a href="#"> <%= team.starter.name unless team.starter.nil? %></a>

    <h4>Relievers</h4>
    <ul>
      <% unless team.rps.nil? %>
      <% team.rps.each do |rp| %>
        <li> <a href="#"> <%= Pit.find(rp).name %></a></li>
      <% end %>
      <% end %>
    </ul>

    <h4>Batting Order</h4>
    <ul>
      <% unless team.lineup.nil? %>
        <% team.lineup.each do |bat| %>
          <% if bat != 0 %>
            <li> <a href="<%= bat_url(bat) %>">
              <%= Bat.find(bat).name %>
            </a> </li>
          <% else %>
            <li>Pitcher</li>
          <% end %>
        <% end %>

      <% end %>
    </ul>

<% end %>
