<% statnames = Competitor.columns.map(&:name).rotate(-2).drop(4) %>
<h1> Game on <%= @game.date %></h1>
<h3>Sportsbook Odds: <%= @game.sportsbook_odds %></h3>
<h3>Favorite <a href=" <%=  edit_competitor_url(@favorite) %>">Edit</a></h3>


  <table>
      <th>
        Team Name
      </th>
      <% statnames.each do |statname| %>
        <th>
            <%= statname %>
        </th>
      <% end %>
      <th>
          team expected win %
      </th>
    <tr>
      <td>
        <%= @favorite.team.name %>
      </td>
      <% statnames.map(&:to_sym).each do |statname| %>
        <td>
            <%= @favorite.send(statname) %>
        </td>
      <% end %>
      <td>
        <%= @favorite.team_expected_win_percentage %>
      </td>
    </tr>
  </table>

<h3>Underdog <a href=" <%= edit_competitor_url(@underdog) %>">Edit</a></h3>

<table>
    <th>
      Team Name
    </th>
    <% statnames.each do |statname| %>
      <th>
          <%= statname %>
      </th>
    <% end %>
    <th>
        team expected win %
    </th>
  <tr>
    <td>
      <%= @underdog.team.name %>
    </td>
    <% statnames.map(&:to_sym).each do |statname| %>
      <td>
          <%= @underdog.send(statname) %>
      </td>
    <% end %>
    <td>
      <%= @underdog.team_expected_win_percentage %>
    </td>
  </tr>
</table>
