<a href="<%= logs_url %>">Index</a>
<% statnames = Log.columns.map(&:name).rotate(-2).drop(3) %>

<h1> Day: <%= @log.day %> - <%= @log.date %> </h1>

<%= render partial: "partials/stat_table",
           locals:{ statnames: statnames,
                    collection: @log,
                    leader_stat: false,
                    ender_stat: false }  %>

<h2> Games </h2>
<a href="<%= new_log_game_url(@log) %>">New</a>

<table>
  <thead>
    <th>

    </th>
    <th>
      Favorite
    </th>
    <th>
      Odds
    </th>
    <th>
      Implied Odds
    </th>
    <th>
      Underdog
    </th>
    <th>
      Odds
    </th>
    <th>
      Implied Odds
    </th>
    <th>
      Favorite %
    </th>
    <th>
      Underdog %
    </th>
    <th>
      Advantage
    </th>
    <th>
      Pick
    </th>
    <th>
      Team
    </th>

    <th>
      Bet
    </th>
    <th>
      To Win
    </th>
    <th>
      Expected Value
    </th>

    <th>
      Winner
    </th>

    <th>
      Result
    </th>

  </thead>

  <% @log.games.each do |game| %>
    <tr>
      <td>
        <a href="<%= game_url(game) %>">View</a>
      </td>
      <% team = game.favorite %>
      <td>
        <a href="<%= team_url(team.team) %>">
          <%= team.team_name %>

        </a>
      </td>

      <td>
        <%= game.f_odds %>
      </td>

      <td>
        <%= game.f_implied_odds.round(4) %>
      </td>

      <% team = game.underdog %>
      <td>
        <a href="<%= team_url(team.team) %>">
          <%= team.team_name %>
        </a>
      </td>

      <td>
        <%= game.d_odds %>
      </td>

      <td>
        <%= game.d_implied_odds.round(4) %>
      </td>

      <td>
        <%= game.adjusted_win_percentage(:favorite) if game.filled_out? %>
      </td>

      <td>
        <%= game.adjusted_win_percentage(:underdog) if game.filled_out?%>
      </td>

      <td>
        <%= game.advantage if game.filled_out? %>
      </td>

      <td>
        <%= game.pick.to_s.capitalize if game.filled_out?%>
      </td>

      <td>
        <%= game.pick == :none ? "None" : game.send(game.pick).team_name %>
      </td>

      <td>
        <%= game.bet if game.filled_out?%>
      </td>

      <td>
        <%= game.to_win if game.filled_out?%>
      </td>

      <td>
        <%= game.expected_value if game.filled_out? %>
      </td>

      <td>
        <%= game.send(game.winner).team_name unless game.winner.nil? %>
      </td>

      <td>
        <%= game.result unless game.winner.nil? %>
      </td>

    </tr>
  <% end %>
</table>
